.auth_prompt {
	position: absolute;
	z-index: 5;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	background: #000;
}

.auth_group {
	position: absolute;
	width: 60%;
	margin: auto;
	top: 35vh;
	left: 0; right: 0;
	color: #fff;
}

.authorize_text {
	text-align: left;
}

.auth_prompt button {
	position: relative;
	border-color: #fff;
	background: transparent;
	color: #fff;
}

.auth_prompt button:hover {
	background: #fff;
	color: #000;
}

.auth_prompt button:hover i {
	color: #000;
}

.auth_prompt button i {
	position: absolute;
	color: #fff;
	top: 30%;
	left: 20%;
}

.login_section {
	height: auto;
	width: 100%;
	margin: 125px auto 25px auto;
	padding: 25px 0;
	background: #fff;
}

.login_prompt {
	height: auto;
	width: 90%;
	position: absolute;
	margin: auto;
	top: 250px;
	left: 0;
	right: 0;
}

h3 {
	font-weight: 400;
}

.login_message {
	text-align: center;
}

h4 {
	padding: 0;
}

.repo_name {
	text-align: right;
	font-size: .8em;
}

.repo_detail {
	text-align: right;
}

button {
	position: relative;
	display: block;
	margin: 0 auto;
	width: 80%;
	max-width: 225px;
	padding: 25px 25px 25px 60px;
	font-family: 'Work Sans', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
	text-transform: uppercase;
	font-weight: 600;
	letter-spacing: .1em;
	background: white;
	border: 2px solid #000;
	border-radius: 5px;
	transition: color .5s, background .5s;
}

button:hover {
	color: #fff;
	background: #000;
	transition: all .6s;
}

button:hover i.devicon-github-plain.colored,
button:hover i.material-icons.logout {
	color: #fff;
	transition: color .6s;
}

button:focus,
button:active {
	outline: none;
}

button i.devicon-github-plain.colored {
	position: absolute;
	top: 14px;
	left: 15px;
	font-size: 3em;
	margin-right: 20px;
	color: #000;
	transition: color .6s;
}

button i.material-icons.logout {
	position: absolute;
	top: 14px;
	left: 40px;
	font-size: 3em;
	color: #000;
	transition: color .6s;
}

.repo_section_title {
	margin: auto;
	padding: 15px 0 25px 0;
	background: #fff;
	border-bottom: 1px solid #000;
	width: 100%;
	max-width: 500px;
}

.repos_section {
	z-index: -1;
	top: 250px;
	left: 0;
	right: 0;
	margin: auto;
	width: 100%;
	height: 100%;
}

ul {
	width: 100%;
	max-width: 500px;
	margin: 0 auto;
	padding: 0;
	list-style: none;
}

.link {
	width: 100%;
}

.link li {
	text-decoration: none;
	color: #000;
	background-color: #fff;
	transition: all .2s ease;
}

ul li {
	padding: 5% 0;
	width: 100%;
	height: 120px;
	border-bottom: 1px solid #000;
	transition: all .2s ease;
}

.link:hover img {
	transform: scale(1.1);
	transition: all .3s ease;
}

.link:hover li {
	padding: 8% 0 0 0;
	height: 160px;
	transition: all .3s ease;
}

.info_container {
	padding: 0 3%;
	float: right;
	width: 50%;
}

ul li div p {
	font-size: .8em;
	text-align: right;
	margin: 0;
}

ul li img {
	float: left;
	transform: scale(1);
	width: 15%;
	min-width: 75px;
	padding: 3%;
	border-radius: 20%;
	border: 1px solid transparent;
	transition: transform .3s ease;
}
