body {
	padding: 0;
	font-family: 'Work Sans', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
}

.page_container {
	min-width: 224px;
	width: 80%;
	margin: 50px auto;
}

h2 {
	text-transform: uppercase;
	font-size: 1em;
	letter-spacing: .1em;
	text-align: center;
}