.back_button {
	-webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color:  rgba(255, 255, 255, 0);
	tap-highlight-color: rgba(255, 255, 255, .5);
}

.back {
	position: fixed;
	z-index: 5;
	top: 40px;
	left: 5%;
	font-size: 3em;
	color: #fff;
	-webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
	-webkit-tap-highlight-color:  rgba(255, 255, 255, .5);
	tap-highlight-color: rgba(255, 255, 255, .5);
	transform: translateX(0);
	transition: transform .2s
}

.back:hover {
	transform: translateX(-10px);
	transition: transform .3s;
}

.tracker_component .title_container {
	right: 9%;
	left: auto;
}

h3.repo {
	display: block;
	font-size: .9em;
	margin: 150px auto 35px auto;
	padding: 10px 0 0 0;
	text-align: center;
	width: 90%;
}

h3 {
	text-align: center;
}

.goal_heading {
	margin: 30px auto 0 auto;
}

.tracker {
	position: absolute;
	left: 0;
	right: 0;
	height: 225px;
	width: 100%;
}

.interval_container {
	width: 50%;
	height: auto;
	display: inline-block;
}

.slash {
	position: absolute;
	text-align: center;
	color: #f4f4f4;
	font-size: 8em;
	font-weight: 200;
	top: 25%;
	left: 38%;
	z-index: 1;
}

.track_button {
	margin: 225px auto 0 auto;
	background: transparent;
}

.unit_container {
	margin-left: -10px;
	display: inline-block;
	width: 50%;
	height: auto;
}

button.override {
	padding: 0;
	-webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
	-webkit-tap-highlight-color:  rgba(255, 255, 255, 0);
	tap-highlight-color: rgba(0, 0, 0, 0);
	border: none;
	background-color: transparent;
}

button.override:hover {
	color: #000;
	background: transparent;
}

.arrow_buttons {
	display: block;
	z-index: 10;
	margin: 0 auto 0 auto;
	height: 100px;
	width: 100px;
	cursor: pointer;
	font-size: 8em;
	-webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
	-webkit-tap-highlight-color:  rgba(255, 255, 255, 0);
	tap-highlight-color: rgba(0, 0, 0, 0);
}

.arrow_buttons:active,
.arrow_buttons:focus {
	color: #f4f4f4;
	outline: none;
}

.interval_value,
.unit_value {
	text-align: center;
	margin: -15px 0 0 0px;
	font-size: 2.5em;
	font-weight: 200;
}

.disabled {
	color: #f4f4f4;
	cursor: default;
}

.unit_description {
	width: 70%;
	margin: 5px auto 0 auto;
	position: absolute;
	text-align: center;
	left: 0;
	right: 0;
	font-size: .7em;
	font-style: italic;
}

@keyframes fade {
	0% {opacity: 1 }
	3% { opacity: 0 }
	6% {opacity: 1 }
	9% { opacity: 0 }
	12% {opacity: 1 }
	90% { opacity: 1; }
	100% {
		opacity: 0;
		visibility: hidden;
	}
}

.result_message {
	position: absolute;
	top: 125px;
	z-index: 5;
	height: 100%;
	background: #111;
	width: 100%;
	text-align: center;
	font-size: 1.5em;
	line-height: 1.5em;
	font-style: italic;
	font-weight: 200;
	animation: fade 5s;
	animation-iteration-count: 1;
	animation-fill-mode: forwards;
	animation-direction: normal;
	animation-timing-function: linear;
}

.message {
	margin: 25% auto;
	width: 70%;
}

.message i {
	display: block;
	width: 100%;
	font-size: 2em;
	margin: 0 auto 20px auto;
}

.red {
	color: #e55;
}

.green {
	color: #6d6;
}

.tracking {
	width: 100%;
	height: 50px;
	margin: 175px auto 0 auto;
	max-width: 500px;
	z-index: 3;
	text-align: center;
}

.tracking i.track {
	margin: auto;
	animation: spinner 2s infinite;
	animation-fill-mode: forwards;
	animation-timing-function: linear;
}

.track_button i.track {
	position: absolute;
	left: 15%;
	top: 30%
}

@keyframes spinner {
	from { transform: rotateZ(0deg); }
	to { transform: rotateZ(360deg); }
}

@media(min-width: 520px) {

	.login_section,
	.repo_section_title {
		margin: 0 auto;
		position: fixed;
		z-index: 5;
		background: #fff;
	}

	.login_section {
		top: 125px;
	}

	.repo_section_title {
		top: 270px;
		left: 0;
		right: 0;
	}

	.repos_list {
		margin: 325px auto;
	}

	.tracker_component .title_container {
		right: 0;
		left: 0;
		margin: auto;
	}

	.slash {
		left: 43%;
		right: auto;
	}

	.tracker {
		max-width: 500px;
		margin: 0 auto;
	}

	.track_button {
		top: 90%;
		left: 0;
		right: 0;
	}

	.tracking {
		top: 32%;
	}

	.result_message {
		font-size: 1.5em;
	}
}
